/* ----- Start sticky footer ----- */

html, body {height: 100%;}

@media (min-width: 767px) {

  #wrap {
    min-height: 100%;
  }

  #main {
    overflow:auto;
    padding-bottom: 120px;
  }  /* must be same height as the footer */

  #footer {
    position: relative;
    margin-top: -120px; /* negative value of footer height */
    height: 120px;
    clear:both;
  }

  /*Opera Fix*/
  body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
  }
}

/* ----- End sticky footer ----- */

body {
  background: #fff;
}

#page {
  margin-top: 20px;
}

.main-search {

}

a, a:hover {
  color: #1E88A8;
}

#search {
  text-align: center;
}

#search input[type="text"].input-lg {
  height: 58px;
  margin: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; 
}

.search-form {
    height: 58px;
    margin: 10px auto 0;
}

.search-form.centered {
    max-width: 60%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.search-form .logo {
  display: none;
}

.search-form.centered .logo {
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    max-width: 400px;
    margin-bottom: 80px;
}

@media (max-width: 767px) {
  .search-form.centered {
    display: block;
    position: relative;
    max-width: 90%;
    margin-top: 10px;
    margin: 0 15px;
  }
  .search-form.centered .logo {
    display: none;
  }
}
.results-table {
  table-layout:fixed;
  width:100%;
}
.results-table td {
  padding: 10px;
}
.word {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
}
.word:hover {
  background: #dbeff4 !important;
  cursor: pointer;
}
.word:nth-child(2n) {
  background: #f3f3f3;
}
.word .common {
  width: 70px;
}
.word .title {
  font-weight: normal;
  font-size: 24px;
}
.word .reading {
  font-size: 18px;
  line-height: 24px;
  padding: 3px 0;
  float: right;
  width: 40%;
  text-align: left;
}
.word .definition {
  color: #444;
  font-size: 16px;
}
.word .label-common {
  font-size: 12px;
  background: #6bc1d4;
  font-weight: normal;
  border-radius: 0px;
}
.word a {
  color: inherit;
  text-decoration: none;
}
.word a:hover {
  text-decoration: underline;
}
.word strong {
  padding: 2px 0px;
  background: #b6dfe9;
  font-weight: normal;
}

.header .title {
  text-align: center;
}
.header .title img {
  margin: 20px;
  max-width: 90%;
}
.header .title.smaller img {
  max-width: 50%;
}

.front-page-banner {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 767px) {
  .header .title img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .label-common {
    display: none;
  }
  .word .reading {
    width: 100%;
  }
}

/* --- About page --- */
.page.about .intro {
  text-align: justify;
  font-size: 20px;
  line-height: 1.6em;
}

.page.about .mailing-list-label {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.6em;
  font-weight: bold;
}

.page.about .form-message {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 30px;
  opacity: 1;
}

.page.about .form-message.hidden {
  display: none;
  opacity: 0;
}

.page.about .form-message .title {
  font-size: 20px;
  font-weight: bold;
}

.page.about .form-message .text {
  font-size: 20px;
  line-height: 1.6em;
}

input.shake-invalid {
    /* shake the input box if it's invalid */
    -webkit-animation: shake .5s linear;
    -moz-animation: shake .5s linear;
    animation: shake .5s linear;
}

/* --- Footer styles --- */
#footer {
  text-align: center;
  padding: 0;
}
#footer .info {
  padding-top: 20px;
}
#footer .info p {
  margin: 0;
  padding: 0;
}
#footer .searches {
  padding-top: 30px;
}


/* --- Resources page --- */
.resource-list p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.6em;
}

/* --- Animations --- */

/* shake like in OS X */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/* also need keyframes */
 @keyframes shake {
    8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}


/* also need -moz-keyframes */
 @-moz-keyframes shake {
    8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}


/* Loading bar styles */
#loadingbar {
  float: left;
  position: relative;
  z-index: 2147483647;
  margin: 0 0 10px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #b6dfe9;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
#loadingbar.animate {
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}