#search {
	text-align: center;
}

input.input-large {
  width: 100%;
  height: 34px ;
  margin-bottom: 10px;
  line-height: 30px;
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.word {
	margin-top: 20px;
}

.word .title {
	font-weight: bold;
}

.word .definition {
	color: #333;
}