{{set . "title" "About Nihongo.io"}}
{{template "header.html" .}}

<body>
<div id="wrap">
  <div id="main">
    <div class="container">
      <div class="page about">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io" /></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p class="intro">Nihongo.io is a super-fast online Japanese dictionary based on <a href="http://www.csse.monash.edu.au/~jwb/edict.html">Jim Breen's Edict</a>.</p>
            <p class="intro">It's open source and written in <a href="http://golang.org">Go</a>. Check it out on <a href="https://github.com/gojp/nihongo">Github</a>, and feel free to suggest improvements or contribute.</p>
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p class="intro">We are <a href="http://shawnps.net">Shawn</a> and <a href="http://ironzebra.com">Herman</a>, two engineers living in Tokyo, Japan on a mission to create the world's fastest and most usable Japanese dictionary. You can participate in our journey!</p>
            <hr/>
            <p class="intro">Here is a list of resources we've found to be useful while learning Japanese: <a href="{{url "App.Resources"}}">Learning Resources</a></p>
            <form id="mailing-list-form" action="http://nihongo.us7.list-manage2.com/subscribe/post-json?u=84511b347ffa4c4b62d0b3088&amp;id=6174efed79" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="control-group">
                <label for="input-email" class="control-label mailing-list-label" />Join our mailing list</label>
                <div class="controls">
                  <input style="width: 100%" type="email" placeholder="Your email" value="" name="EMAIL" class="required email input-lg" id="mce-EMAIL">
                </div>
              </div>
            </form>
            <div class="form-message alert hidden">
              <h4 class="title"></h4>
              <p class="text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready( function () {
    // I only have one form on the page but you can be more specific if need be.
    var $form = $('form#mailing-list-form');
    $form.on('submit', function ( event ) {
        if ( event ) event.preventDefault();
        // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
        if ( validate_input($form) ) {
          $form.find('input').removeClass('shake-invalid');
          register($form); 
        } else {
          $form.find('.control-group').addClass('has-error')
          var $input = $form.find('.control-group').find('input');
          $input.addClass('shake-invalid');
        }
    });
});

function validate_email(email) {
  var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  return re.test(email);
}

function validate_input($form) {
  var $email = $form.find('[name="EMAIL"]');
  return validate_email($email.val()) ? true : false;  
}

function showMessage(title, text) {
  $form_msg = $('.form-message');
  $form_msg.find('.title').text(title);
  $form_msg.find('.text').text(text);
  $form_msg.addClass('alert-success').removeClass('hidden');
}

function register($form) {
    // post to mailchimp
    $form.slideUp();
    $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize(),
        cache       : false,
        dataType    : 'jsonp',
        jsonp       : 'c',
        contentType: "application/json; charset=utf-8",
        error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
        success     : function(data) {
            if (data.result != "success") {
              // Something went wrong, do something to notify the user
              showMessage('Something went wrong...', data.msg);
            } else {
              showMessage('Thanks!', data.msg);
            }
        }
    });
}
</script>

{{template "footer.html" .}}
