{{template "header.html" .}}

<body>

<div id="wrap">
  <div id="main">
    <div class="container">
      <div id="page" class="page">
        <div class="row">
          <a href="{{url "App.Register"}}">Sign Up</a>
          <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="search" method="get" action="/search">
              <div class="form-group">
                <div class="col-lg-12">
                  <input class="main-search input-lg form-control" type="search" name="q" placeholder="Type Japanese, 漢字, かな, romaji or English to search" autocomplete="off" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="results">
            </div>
          </div>
        </div>
        <div class="row logo">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io"></a>
            </div>
          </div>
        </div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Nihongo.ioHorizontal -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6695513433423867"
             data-ad-slot="9914245064"></ins>
         <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
         </script>
      </div>
    </div>
  </div>
</div>
{{template "scripts.html" .}}
{{template "footer.html" .}}
