{{template "header.html" .}}

<body>

<div id="wrap">
  <div id="main">
    <div class="container">
      <div class="page">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io" /></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" id="search" method="get" action="/search">
              <div class="form-group">
                <div class="col-lg-12">
                  <input class="main-search input-lg form-control" type="search" name="q" placeholder="Type Japanese, 漢字, かな, romaji or English to search" />
                </div>
              </div>
            </form>
            <div id="results">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "scripts.html" .}}
{{template "footer.html" .}}
