{{set . "title" "Your Saved Words"}}
{{template "header.html" .}}

<body>
<div id="wrap">
  <div id="main">
    <div class="container">
      <div id="page" class="page">
        <div class="row logo">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title smaller">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io"></a>
            </div>
          </div>
        </div>
        <ul>
        {{range .wordList}}
          <li><a href="/{{.}}">{{.}}</a></li>
        {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
