{{set . "title" "Register for Nihongo.io"}}
{{template "header.html" .}}

<body>
<div id="wrap">
  <div id="main">
    <div class="container">
      <div id="page" class="page">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
             <h1>Sign up</h1>
             <p>(being a nihongo.io user means seeing no ads!)</p>
             <form action="{{url "App.SaveUser"}}" method="POST">
               {{with $field := field "user.Email" .}}
                 <p class="{{$field.ErrorClass}}">
                   <input type="text" name="{{$field.Name}}" size="16" class="form-control" placeholder="Your email" value="{{$field.Flash}}">
                   <span class="error">{{$field.Error}}</span>
                 </p>
               {{end}}

               {{with $field := field "user.Password" .}}
                 <p class="{{$field.ErrorClass}}">
                   <input type="password" name="{{$field.Name}}" size="16" class="form-control" placeholder="Create a password" value="{{$field.Flash}}">
                   <span class="error">{{$field.Error}}</span>
                 </p>
               {{end}}

               <input type="submit" class="btn btn-success btn-lg" value="Register">
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
