{{set . "title" "Useful Resources for learning Japanese"}}
{{template "header.html" .}}

<body>
<div id="wrap">
  <div id="main">
    <div class="container">
      <div class="page resources">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io" /></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p>Here are some of the books and websites that we've found useful over the years for studying Japanese:</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
