{{set . "title" "Useful Resources for learning Japanese"}}
{{template "header.html" .}}

<body>
<div id="wrap">
  <div id="main">
    <div class="container">
      <div class="page resources">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 header">
            <div class="title">
              <a href="/"><img src="/public/images/nihongo.png" alt="nihongo.io" title="nihongo.io" /></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 resource-list">
            <p>Here are some of the books, websites, and applications that we've found useful over the years for studying Japanese:</p>
            <p><a href="http://amzn.to/1f3BnpT">Genki I</a>: Commonly used in introductory Japanese language courses. The first two chapters have romaji, but from Chapter 3 onward they use only kana and kanji. It has 12 chapters, and covers many basic grammar patterns and vocabulary. After getting through this book, you should know enough Japanese to have some very basic conversations, and also be able to read simple text. A normal-paced college course will typically cover chapters 1-6 in the first semester, and then chapters 7-12 in the next semester.</p>
            <p><a href="http://amzn.to/1l7GE8i">Genki II</a>: Continues where Genki I leaves off. It covers more complicated grammar patterns, and also has a couple of chapters on <a href="{{url "App.Details" "敬語"}}">敬語</a>.</p>
            <p><a href="http://ankisrs.net/">Anki</a>: A spaced repetition desktop application with loads of free user-contributed Japanese language packs.</p>
            <p><a href="http://japaneseapp.com/">Japanese for iOS</a>: A nicely-designed and useful iOS app for studying Japanese. Search updates as you type, just like <a href="http://nihongo.io">nihongo.io</a>! Also contains many lists for studying, as well as kanji search by radical, and many other nice features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
