<div class="results-table">
{{$user := .user}}
{{range .wordList}}
  {{$entry := .}}
  <div class="word">
    <div class="title">
      <a class="main-entry" href="/{{$entry.Japanese}}">{{html $entry.JapaneseHL}}</a>
      <!-- {{if $entry.Common}}
      <div class="label label-success label-common">common</div>
      {{end}} -->
      <span class="reading">
        {{if eq $entry.Furigana $entry.Japanese}}
        {{else}}
        <a class="furigana-entry" href="/{{$entry.Furigana}}">{{html $entry.FuriganaHL}}</a>
        {{end}}
      </span>
    </div>
    <ul class="definition">
      {{range $i, $gloss := $entry.EnglishHL}}
        <li class="gloss">
          <span class="number">{{add $i 1}}</span> 
          {{range $u, $glossWord := $gloss}}
            {{if $u}} / {{end}}
            <a class="english-entry" href="/{{clean $glossWord}}">{{html $glossWord}}</a>
          {{end}}
        </li>
      {{end}}
    </ul>

    {{if $user}}
    <div class="save">
      {{if contains $entry.Japanese $user.Words}}
      <span>Saved</span>
      {{else}}
      <a class="btn btn-save" data-value="{{ $entry.Japanese }}" data-action="save" href="#">Save</a>
      {{end}}
    <div>
    {{end}}
  </div>
  </div>
{{end}}
</div>
