{{if .fuzzy}}
<div class="alert-fuzzy alert-info">We couldn't find anything that matched <strong>{{.query}}</strong>.{{if .wordList}} Did you mean one of these?{{end}}</div>
{{end}}
<table class="results-table">
{{$user := .user}}
{{range .wordList}}
  {{$entry := .}}
  <tr class="word">
    <td class="title">
      <a class="main-entry" href="/{{$entry.Japanese}}">{{html $entry.JapaneseHL}}</a>
      {{if $entry.Common}}
      <div class="label label-success label-common">common</div>
      {{end}}
      <span class="reading">
        {{if eq $entry.Furigana $entry.Japanese}}
        {{else}}
        <a class="furigana-entry" href="/{{$entry.Furigana}}">{{html $entry.FuriganaHL}}</a>
        {{end}}
      </span>
    </td>
    <td class="definition">
      {{range $i, $gloss := $entry.EnglishHL}}
        <div class="gloss">
          {{add $i 1}}.
          {{range $u, $glossWord := $gloss}}
            {{if $u}} / {{end}}
            <a class="english-entry" href="/{{clean $glossWord}}">{{html $glossWord}}</a>
          {{end}}
        </div>
      {{end}}
    </td>

    {{if $user}}
    <td class="save">
      {{if contains $entry.Japanese $user.Words}}
      <span>Saved</span>
      {{else}}
      <a class="btn btn-save" data-value="{{ $entry.Japanese }}" data-action="save" href="#">Save</a>
      {{end}}
    </td>
    {{end}}
  </div>
  </tr>
{{end}}
</table>
