{{define "base"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google" value="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />

    <!-- Real HTML tags -->
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{.description}}">

    <!-- Facebook open graph -->
    <meta property="og:site_name" content="Nihongo.io"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{.title}}"/>
    <meta property="og:description" content="{{.description}}"/>

    <!-- Twitter description -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{.title}}"/>
    <meta name="twitter:description" content="{{.description}}"/>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-44108711-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>
<body>
    <div class="page-wrap">
        {{template "body" .}}
    </div>
    <footer class="site-footer">
       <p><a href="/about">About</a></p>
    </footer>
</body>
{{end}}
