    <div id="footer">
        <div class="searches">
            {{if .termList}}
            Example searches:
            {{end}}
            {{range .termList}}
                {{$entry := .}}
                <a href="/{{$entry.Term}}" title="{{$entry.Term}} in Japanese">{{$entry.Term}}</a>
            {{end}}
        </div>
        <div class="info">
            <p>We're building the world's best Japanese dictionary. <a href="/info/about">Learn more</a></p>
        </div>
        <div>
          <a href="{{url "App.Register"}}">Sign Up</a>
          <a href="{{url "App.Login"}}">Sign In</a>
        </div>
    </div>
  </body>
</html>
