    <div id="footer">
        {{if .flash.success}}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{.flash.success}}
        </div>
        {{end}}
        <div class="searches">
            {{if .termList}}
            Example searches:
            {{end}}
            {{range .termList}}
                {{$entry := .}}
                <a href="/{{$entry.Term}}" title="{{$entry.Term}} in Japanese">{{$entry.Term}}</a>
            {{end}}
        </div>
        <div class="info">
            <p>We're building the world's best Japanese dictionary. <a href="/info/about">Learn more</a></p>
        </div>
        <div>
        {{if not .user}}
          <a href="{{url "App.Register"}}">Sign Up</a>
          <a href="{{url "App.Login"}}">Sign In</a>
        {{else}}
          <a href="/user/profile"><strong>{{.user.Email}}</strong></a>
          <a href="{{url "App.Logout"}}">Sign Out</a>
        {{end}}
        </div>
    </div>
  </body>
</html>
