<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	var search = function(term){
		$('.row.logo').hide();
		$.get('/search/' + term, {
			data: {}
		}).success(function(response){
			$("#results").html(response);
		});
		if (_gaq) {
			_gaq.push(['_trackPageview', '/' + term]);
		}
	};
	var typeTimeout = null,
		lastSearch = null;
	$(".main-search").focus().on("keyup blur", function(e){
		var val = $(this).val();
		if (typeTimeout){
			clearTimeout(typeTimeout);
		}
		typeTimeout = setTimeout(function(){
			return (function(v){
				if (v.length && v != lastSearch) {
					lastSearch = v;
					search(v);
				}
			}(val));
		}, 200);
	});
	$(".header .title").on('click', function(){
		$('.main-search').focus();
		return false;
	});
	$('.results-table .word').on('click', function(){
		window.location.href = $(this).find('a.main-entry').attr('href');
	});
});
</script>
