<script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
$(function(){
	var search = function(term){
		$.get('/search/' + term, {
			data: {}
		}).success(function(response){
			$("#results").html(response);
		});
	};
	var typeTimeout = null;
	$(".main-search").focus().on("keyup blur", function(e){
		var val = $(this).val();
		if (typeTimeout){
			clearTimeout(typeTimeout);
		}
		typeTimeout = setTimeout(function(){
			return (function(v){
				search(v);
			}(val));
		}, 500);
	});
	$(".header .title").on('click', function(){
		$('.main-search').focus();
		return false;
	});
});
</script>
